<section>
    <div class="container">
        <div class="card-body">
            {{#each products}}
            <!-- Single item -->
            <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                    <!-- Image -->
                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                        <img src="/product-images/{{this.product._id}}/{{this.product._id}}_0.png" class="w-50"
                            alt="" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                        </a>
                    </div>
                    <!-- Image -->
                </div>

                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                    <!-- Data -->
                    <p><strong>{{this.product.product_name}}</strong></p>
                    {{!-- <p>Color: blue</p>
                    <p>Size: M</p> --}}
                    <button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                        title="Remove item">
                        <i class="fas fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"
                        title="Move to the wish list">
                        <i class="fas fa-heart"></i>
                    </button>
                    <!-- Data -->
                </div>


                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <!-- Price -->
                    <p class="text-start text-md-center">
                        <strong>₹{{this.product.price}}</strong>
                    </p>
                    <!-- Price -->
                </div>
            </div>
            <!-- Single item -->
            <hr class="my-4" />
            {{/each}}
        </div>
    </div>
</section>